#gallery {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 10px;
  gap: 20px;
}

#sticky {
  height: 175px;
  display: block !important;
  position: sticky;
  background-color: #3AA6B9;
  border: 0px solid black;
  top: 0;
  margin: -10px -10px 0px -10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

#profilephoto {
  height: 150px;
  display: inline-block;
  width: 150px;
  position: relative;
  top: -5px;
  left: 10px;
  border: 0px solid black;
  border-radius: 50%;
  overflow: hidden;
  margin-left: 10px;
  margin-right: 20px;
}
#profileinfo {
  margin-top: 10px;
  height: 150px;
  background-color: #F9F9E0;
  display: inline-block;
  border: 0px solid black;
  border-radius: 5%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
#infobutton {
  width: 49px;
  background-color: #FF9EAA;
  border-radius: 5px;
  margin-right: 3px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
#downloadbutton {
  width: 98px;
  background-color: #3AA6B9;
  border-radius: 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

#frame {
  border: 2px solid lightsteelblue;
  height: 150px;
  width: 150px;
  padding: 0;
  background-color: #F9F9E0;
  border-top-right-radius: 10%;
  border-top-left-radius: 10%;
  border-bottom-left-radius: 10%;
  border-bottom-right-radius: 10%;
  display: inline-block;
  overflow: hidden;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
#info {
  border: 0px solid black;
  height: 21px;
  width: 150px;
  display: inline-block;
}
#photo {
  border: 0px solid black;
  height: 178px;
  width: 152px;
}

#image {
  width: 100%;
  max-width: 100%;
  height: auto;
  max-height: 100%;
  object-fit: cover;
}

footer {
  margin: 0px -10px -10px -10px;
  background-color: black;
  color: white;
  text-align: center;
}